._*
.AppleDouble
.DS_Store
.idea
.LSOverride
.node_history
.Spotlight-V100
.tmp
.Trashes
.vscode
*.7z
*.cab
*.class
*.com
*.csv
*.dat
*.db
*.dll
*.dmg
*.exe
*.gz
*.ini
*.iso
*.jar
*.log
*.msi
*.msm
*.msp
*.o
*.out
*.pid
*.rar
*.seed
*.so
*.sql
*.sqlite
*.sqlite3
*.swm
*.swn
*.swo
*.swp
*.tar
*.zip
*#
*~
$RECYCLE.BIN/
coverage
Icon
lcov.info
lib-cov
logs
nbproject
node_modules/
out
package-lock.json
pids
results
ssl
